[phases.setup]
nixPkgs = ["python310"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = [
    "python manage.py collectstatic --noinput"
]

[start]
cmd = "python manage.py migrate --noinput && python manage.py create_admin && gunicorn electoral_office.wsgi --bind 0.0.0.0:$PORT --log-file -"
